html{
	font-family: 'Open Sans', sans-serif;	
	text-align: center;
}

.title{
	position: fixed;
	top:0;
	background: rgba(255,255,255,0.9);
	z-index: 2;
}

body{
	background: url(rabbit.jpg) center;
}

article{
	text-align: left;
	margin:20vh auto  0 auto;
	padding: 2em;
	background: rgba(255,255,255,0.7);
}

p{
	margin-left: 2em;
}

label{
	margin-left: 2em;
	text-align:justify; 
	text-justify:inter-ideograph; 
}

.male,.female{
	background:white;
	border:0.1em solid #D4D4D4;
	width: 15em;
	margin: 1em 2em;
	text-align: left;
	moz-border-radius:5px; 
    -webkit-border-radius: 5px; 
    border-radius: 5px; 

}

.transport{
	text-align: left;
}

.walk,.bike,.motorcycle,.car,.bus,.metro,.train{
	background:white;
	border:0.1em solid #D4D4D4;
	width: 15em;
	margin: 1em 2em;
	text-align: left;
	moz-border-radius:5px; 
    -webkit-border-radius: 5px; 
    border-radius: 5px; 
}

input{
	margin: 1em 0 1em 2em;
	border: 0.05em solid #A3A3A3;
	padding: 0.5em 2em;
	moz-border-radius:5px; 
    -webkit-border-radius: 5px; 
    border-radius: 5px; 
    font-family: sans-serif;
}
